/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  background-image: var(--complex-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--card-text-weight, 400);
}

.header_block {
  padding-block: 100px;
}

.container {
  margin: 0 auto;
  inline-size: var(--card-inline-size, min(100%, 700px));
}

.main__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color, #000);
  padding-block: clamp(120px, 10vw, 131px) 100px;
  font-family: var(--accent-font, "PressStart2P", bold), "Fixedsys", "Courier New", monospace, sans-serif;
  font-variation-settings: "wght" var(--card-title-weight, 700);
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  outline: none;
}

.header__title {
  display: flex;
  justify-content: center;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.article {
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
}

.article__img-wrapper {
  position: relative;
}

.article__img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.article-img-label {
  position: absolute;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font);
  font-size: var(--accent-font-size, 0.875rem);
  text-transform: uppercase;
  text-shadow: 
      -1px 0 var(--bg-color, #fff),
      0 1px var(--bg-color, #fff),
      1px 0 var(--bg-color, #fff),
      0 -1px var(--bg-color, #fff);
  inset-block-start: 27px;
  inset-inline-end: 27px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .article-img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
  }
}

.article__title {
  padding-inline: 10px;
  padding-block: 6px;
  font-size: var(--main-font-size, 1.125rem);
  font-family: var(--main-font);
  line-height: normal;
  font-variation-settings: "wght" var(--card-title-weight, 700);
}

.article__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-family: var(--main-font);
  font-size: var(--main-font-size, 1.125rem);
  line-height: 21px;
}

.article__text {
 margin-block-end: 25px;
}

.button {
  position: relative;
  z-index: 0;
  border: 2px solid var(--main-color, #000);
  padding: 0;
  background-color: var(--bg-color, #fff);
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  block-size: 38px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.card__button-wrapper {
  display: flex;
  justify-content: end;
  column-gap: 4px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font, "PressStart2P"), "Fixedsys", "Courier New", monospace, sans-serif;
  z-index: 1;
  color: var(--button-text-color, #fff);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after {
  transform: scale(1);
}

/*filters*/
.article-img-blur-mixed {
  filter: blur(2px) drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}

.article-img-contrast {
  filter: contrast(160%);
}

.article-img-saturate-mixed {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8)) saturate(200%);
}

.article-img-hue-rotate-mixed {
  filter: hue-rotate(-120deg) contrast(180%);
}

.article-img-sepia {
  filter: sepia(100%);
}

.article-img-opacity-mixed {
  filter: opacity(90%) hue-rotate(240deg);
}

.article-img-grayscale-mixed {
  filter: grayscale(30%) saturate(10%);
}

.article-img-invert {
  filter: invert(0.15);
}

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 100px;
  padding: 15px 20px;
  max-inline-size: 83vw;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  inline-size: var(--floppy-size, 21px);
  block-size: var(--floppy-size, 21px);
  mix-blend-mode: difference;
}
/*dialog*/

.dialog[open] {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: clamp(12px, 5.33vw, 20px);
  padding: var(--modal-padding-inline, 30px) 30px;
  color: var(--main-color, #000);
  font-family: var(--accent-font);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  max-inline-size: 357px;
}

.dialog_container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
}


.floppy_dialog {
  --floppy-size: 39px;
}

.modal__title {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 1.5;
}


.modal__button {
  grid-column: 1 / -1;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
  margin: 0 auto;
  padding: 13px 0;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/*heart decoration*/
.like-icon {
  display: block;
}

.sparkles {
  opacity: 0;
}

.contour {
  fill: var(--contour-color, #000);
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-hover, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon:active .core {
  fill: var(--filling-color, #ff0000);
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover, #000);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon:active .main-body {
  fill: var(--filling-color, #ff0000);
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--filling-color, #ff0000);
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--filling-color, #ff0000);
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--filling-color, #ff0000);
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.is-liked .heart {
  animation-name: heart-scale;
  animation-delay: 0.1s;
  transform-origin: center;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.is-liked .sparkles {
  animation-name: sparcles;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
