/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --main-font:"Inter-Variable",sans-serif;
    --accent-font:"PressStart2P-Regular";
    --main-font-size: 1.125rem;
    --accent-font-size: 0.875rem;
    --card-text-weight: 400;
    --card-title-weight: 700;
   --card-inline-size: clamp(min(100%, 375px), 50vw, 700px);
   --main-color: #000;
    --bg-color: #fff;
   
    --complex-gradient: 
    repeating-linear-gradient(
      to right,
    #d3d3d3 0px,
    #d3d3d3 0px,
    transparent 2px,
    transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  --heart-hover: #000;
  --button-text-color:#fff;
  --floppy-size: 21px; 
}

    